@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
}

body {
  direction: rtl;
  @apply bg-[#F0F4FA] text-slate-900;
}

